<div class="card department bg-light bg-gradient">
    <img src="{{categoryInfo.Document.HostFullPath}}?width=250" class="card-img-top" width="250" alt="">
    <div class="card-body" style="width: 300px;">
        <h3 class="h4 mt-0">{{categoryInfo.Category.Name}}</h3>
        <div class="team d-flex align-items-center float-right">
            <span class="badge badge-info me-3">
                <strong class="text-white">{{categoryInfo.ProgramCount}} Program</strong>
            </span>
        </div>
        <p style="   
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        ">{{categoryInfo.Category.Description}}</p>
        <div class="button-box pb-2">
            <button class="btn btn-outline-primary" type="button" (click)="navigateCategory(categoryInfo.Category.Id)">
                Görüntüle
                <span class="btn-icon icofont-prescription ms-2"></span>
            </button>
        </div>
    </div>
</div>