<label [innerHtml]="header" *ngIf="header"></label>
<div class="form-group" [ngClass]="[
    prefixIcon ? 'with-prefix-icon' : '',
    suffixIcon ? 'with-suffix-icon' : '',
    containerClass ? containerClass : ''
    ]">
    <div class="prefix-icon" [ngClass]="prefixIcon" *ngIf="prefixIcon"></div>
    <input class="form-control" [ngClass]="inputClass" [attr.type]="type" [placeholder]="placeholder"
        [(ngModel)]="value" [disabled]="disabled" (change)="emitChangeEvent($event)" (keyup)="emitKeyUpEvent($event)">
    <div class="suffix-icon" [ngClass]="suffixIcon" *ngIf="suffixIcon"></div>
    <div class="form-text text-muted" [innerHtml]="description" *ngIf="description"></div>
</div>