<div class="needs-validation valitable-input o-switch-container">
    <div class="form-check form-switch">
        <input #inputElement type="checkbox" class="form-check-input" [attr.id]="elementKey" [ngClass]="[
                isValid == 'Success' ? 'is-valid' : isValid == 'Error' ? 'is-invalid' : '',
                isLoading ? 'is-loading' : '']" [(ngModel)]="value" (blur)="emitFocusEvent()"
            (change)="emitChangeEvent($event)">
        <label class="form-check-label" [attr.for]="elementKey" [innerHtml]="header"></label>
        <div [ngClass]="{'valid-tooltip': isValid == 'Success','invalid-tooltip':isValid == 'Error'}"
            *ngIf="validateMessage" [innerHtml]="validateMessage"></div>
    </div>
    <div class="form-text text-muted" *ngIf="description" [innerHtml]="description"></div>
</div>