<ng-container>
    <div class="row col-12 my-2">
        <div class="d-flex align-items-center mr-1">
            <span class="text-muted">Sayfa başına</span>
        </div>
        <div class="mr-1 ml-1">
            <o-ng-select [(ngModel)]="pageInfo.PageSize" (change)="onPageSizeChanged($event)" [items]="[5,10,25,50,100,500]" [searchable]="false"
                [clearable]="false"></o-ng-select>
        </div>
        <div class="d-flex align-items-center ml-1">
            <span class="text-muted">kayıt gösteriliyor.</span>
        </div>
    </div>
    <ng-content></ng-content>
    <o-ng-pagination-navbar (pageChanged)="onPageChanged($event)" [pageInfo]="pageInfo"></o-ng-pagination-navbar>
</ng-container>