<div class="card">
    <div class="card-header">
        Istatistiklerim
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-12 col-md-6 col-xl-3">
                <div class="card animated fadeInUp delay-01s bg-light mb-0">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col col-5">
                                <div class="icon p-0 fs-48 text-primary opacity-50 icofont-first-aid-alt"></div>
                            </div>
                            <div class="col col-7">
                                <h6 class="mt-0 mb-1">Programlarım</h6>
                                <div class="count text-primary fs-20">{{userStats?.TotalPrograms ?? 'N/A'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <div class="card animated fadeInUp delay-02s bg-light mb-0">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col col-5">
                                <div class="icon p-0 fs-48 text-primary opacity-50 icofont-wheelchair"></div>
                            </div>
                            <div class="col col-7">
                                <h6 class="mt-0 mb-1">Tamamladıklarım</h6>
                                <div class="count text-primary fs-20">{{userStats?.TotalCompletedExercises ?? 'N/A'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <div class="card animated fadeInUp delay-03s bg-light mb-0">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col col-5">
                                <div class="icon p-0 fs-48 text-primary opacity-50 icofont-blood"></div>
                            </div>

                            <div class="col col-7">
                                <h6 class="mt-0 mb-1">Toplam Sürem</h6>
                                <div class="count text-primary fs-20">{{userStats?.TotalTimeAs5 ?
                                    ((userStats.TotalTimeAs5 * 5) | formatSeconds): 'N/A'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <div class="card animated fadeInUp delay-04s bg-light mb-0">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col col-5">
                                <div class="icon p-0 fs-48 text-primary opacity-50 icofont-dollar-true"></div>
                            </div>
                            <div class="col col-7">
                                <h6 class="mt-0 mb-1 text-nowrap">Liderlik Puanım</h6>
                                <div class="count text-primary fs-20">N/A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Bana Atanan Programlarım
    </div>
    <div class="card-body">
        <o-ng-paginated-view [pageInfo]="selfAssignedProgramsPageInfo"
            (pageInfoChanged)="onSelfAssignedProgramsPageInfoChanged($event)">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Program Adı</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Atama Tarihi</th>
                            <th scope="col">Durum</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!selfAssignedPrograms;else programTable">
                            <td colspan="5">
                                <div class="alert alert-danger outline with-before-icon with-after-icon" role="alert">
                                    <div class="alert-icon"><i class="icofont-warning"></i></div>
                                    <div class="alert-content">Herhangi bir atanmış program bulunamadı</div>
                                    <div class="alert-icon"><i class="icofont-award"></i></div>
                                </div>
                            </td>
                        </tr>
                        <ng-template #programTable>
                            <tr *ngFor="let item of selfAssignedPrograms">
                                <td>
                                    <strong>{{item.ProgramName}}</strong>
                                </td>
                                <td>
                                    <div class="text-muted text-nowrap">{{item.CategoryName}}</div>
                                </td>
                                <td>
                                    <div class="text-muted text-nowrap">{{item.AssignDate | date: 'dd/MM/yyyy'}}</div>
                                </td>
                                <td>
                                    <strong>{{item.CompletedExercisesCount}} / {{item.ExerciseCount}}</strong>
                                </td>
                                <td>
                                    <div class="actions">
                                        <button class="btn btn-warning btn-sm btn-square rounded-pill"
                                            title="Programa gözat" (click)="navigateProgramContent(item.ProgramId)">
                                            <span class="btn-icon icofont-exit"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                    </tbody>
                </table>
            </div>
        </o-ng-paginated-view>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Bana Atanan Broşürler
    </div>
    <div class="card-body">
        <o-ng-paginated-view [pageInfo]="selfAssignedBrochuresPageInfo"
            (pageInfoChanged)="onSelfAssignedBrochuresPageInfoChanged($event)">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Broşür Adı</th>
                            <th scope="col">Atama Tarihi</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!selfAssignedBrochures;else brochureTable">
                            <td colspan="5">
                                <div class="alert alert-danger outline with-before-icon with-after-icon" role="alert">
                                    <div class="alert-icon"><i class="icofont-warning"></i></div>
                                    <div class="alert-content">Herhangi bir atanmış broşür bulunamadı</div>
                                    <div class="alert-icon"><i class="icofont-award"></i></div>
                                </div>
                            </td>
                        </tr>
                        <ng-template #brochureTable>
                            <tr *ngFor="let item of selfAssignedBrochures">
                                <td>
                                    <strong>{{item.BrochureName}}</strong>
                                </td>
                                <td>
                                    <div class="text-muted text-nowrap">{{item.AssignDate | date: 'dd/MM/yyyy'}}</div>
                                </td>
                                <td>
                                    <div *ngIf="item.Document">
                                        <i class="icofont-download me-2 text-primary"></i>
                                        <a href="javascript:;"
                                            (click)="downloadBrochureDocument(item)">İndir/Görüntüle</a>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                    </tbody>
                </table>
            </div>
        </o-ng-paginated-view>
    </div>
</div>