<div class="main-menu">
  <nav class="main-menu-wrap">
    <ul class="menu-ul">
      <ng-container *ngFor="let group of navigation;">
        <li class="menu-item" *ngIf="group.Header">
          <span class="group-title" [innerText]="group.Header"></span>
        </li>
        <ng-container *ngFor="let item of group.Children">
          <ng-container *ngIf="!item.Role || userHasRole(item.Role?.Key)">
            <li class="menu-item" [ngClass]="{'has-sub': item.Children}">
              <a class="item-link" [routerLink]="item.Route" [ngClass]="{'cursor-pointer': item.Children}">
                <span [attr.class]="item.IconClass"></span>
                <span class="link-text" [innerText]="item.MenuName"></span>
                <span class="link-caret icofont-thin-right" *ngIf="item.Children"></span>
              </a>
              <ul class="sub" *ngIf="item.Children">
                <li class="menu-item" *ngFor="let child of item.Children">
                  <a class="item-link" [routerLink]="child.Route">
                    <span [attr.class]="item.IconClass"></span>
                    <span class="link-text" [innerText]="child.MenuName"></span>
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</div>