<div class="app-navbar horizontal">
  <div class="navbar-wrap">
    <button class="no-style navbar-toggle navbar-open d-lg-none">
      <span></span><span></span><span></span>
    </button>

    <!-- <div class="app-search d-none d-md-block">
      <div class="d-flex align-items-center">
        <img src="assets/img/ikon_mavi.png" width="50" class="logo-img">
        <div class="h4 text-info ms-2" style="text-shadow: 1px 0px 10px #0dcaf06b; opacity: 0.8;">
          Tele-NöroRehab</div>
      </div>
    </div> -->

    <div class="app-actions">
      <div class="dropdown item">
        <button class="no-style dropdown-toggle" (click)="navigateConversation()">
          <span class="icon icofont-ui-message"></span>
          <span class="badge badge-danger badge-sm" *ngIf="unReadConversationCount">{{unReadConversationCount}}</span>
        </button>
      </div>

      <div class="dropdown item">
        <button class="no-style dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" data-bs-offset="0, 10">
          <span class="d-flex align-items-center">
            <span class="icon icofont-ui-user"></span>
            <i class="icofont-simple-down"></i>
          </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-w-180">
          <ul class="list">
            <li>
              <a href="#" class="align-items-center">
                <span class="icon icofont-ui-user"></span>
                Hesabım
              </a>
            </li>
            <li>
              <a href="javascript:;" (click)="logout()" class="align-items-center">
                <span class="icon icofont-logout"></span>
                Çıkış Yap
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-skeleton horizontal">
      <div class="left-part d-flex align-items-center">
        <span class="navbar-button bg animated-bg d-lg-none"></span>
        <span class="sk-logo bg animated-bg d-none d-lg-block"></span>
        <span class="search d-none d-md-block bg animated-bg"></span>
      </div>
      <div class="right-part d-flex align-items-center">
        <div class="icon-box">
          <span class="icon bg animated-bg"></span>
          <span class="badge"></span>
        </div>
        <span class="avatar bg animated-bg"></span>
      </div>
    </div>
  </div>
</div>