<label [innerHtml]="header" *ngIf="header"></label>
<div class="needs-validation valitable-file" [ngClass]="[
    containerClass ? containerClass : '',
    (isValid == 'Success' || isValid == 'Error') ? 'validated' : ''
    ]">
    <div [ngClass]="[
        isValid == 'Success' ? 'is-valid' : isValid == 'Error' ? 'is-invalid' : '',
        isLoading ? 'is-loading' : ''
        ]">
        <input #fileInput type="file" [ngClass]="inputClass" [attr.data-show-preview]="showPreview"
            [disabled]="disabled" (blur)="emitFocusEvent()">
        <div class="form-text text-muted" [innerHtml]="description" *ngIf="description"></div>
        <div [ngClass]="{'valid-tooltip': isValid == 'Success','invalid-tooltip':isValid == 'Error'}"
            *ngIf="validateMessage" [innerHtml]="validateMessage"></div>
    </div>
</div>
<div #errorContainer></div>

<o-ng-cropper [image]="value!.File!" [cropperWidth]="cropperWidth" [cropperHeight]="cropperHeight" *ngIf="showCropper"
    (croppedImage)="onImageCropped($event)" [cropperFormat]="cropperFormat" [cropperAspectRatio]="cropperAspectRatio"
    [cropperMaintainAspectRatio]="cropperMaintainAspectRatio"></o-ng-cropper>