<label [innerHtml]="header" *ngIf="header"></label>
<div class="form-group" [ngClass]="containerClass">
    <input #fileInput type="file" [ngClass]="inputClass" [attr.data-show-preview]="showPreview" [disabled]="disabled">
    <div class="form-text text-muted" [innerHtml]="description" *ngIf="description"></div>
</div>
<div #errorContainer></div>

<o-ng-cropper [image]="value" [cropperWidth]="cropperWidth" [cropperHeight]="cropperHeight" *ngIf="showCropper"
    (croppedImage)="onImageCropped($event)" [format]="format"></o-ng-cropper>