.file-error-message button {
  display: none;
}

.file-caption-icon {
  margin-top: 4px;
}

.kv-zoom-body.file-zoom-content object.content-pdf {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  min-height: 480px !important;
}

.kv-file-content object.content-pdf {
  width: 100% !important;
  height: 160px !important;
  position: relative !important;
}
