<div class="app-footer">
  <div class="footer-wrap">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-6 d-none d-md-block">
        <ul class="page-breadcrumbs">
          <li class="item">
            <a href="#" class="link">Test</a>
            <i class="separator icofont-thin-right"></i>
          </li>
          <li class="item">
            <a href="#" class="link">Test</a>
            <i class="separator icofont-thin-right"></i>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 text-right">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
          <span>Tüm hakları saklıdır © 2021 (v1.0.0)</span>
        </div>
      </div>
    </div>

    <div class="footer-skeleton">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 d-none d-md-block">
          <ul class="page-breadcrumbs">
            <li class="item bg-1 animated-bg"></li>
            <li class="item bg animated-bg"></li>
          </ul>
        </div>

        <div class="col-12 col-md-6">
          <div class="info justify-content-center justify-content-md-end">
            <div class="version bg animated-bg"></div>
            <div class="settings animated-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>