<div class="needs-validation valitable-input" [ngClass]="containerClass">
    <label *ngIf="header" [innerHtml]="header"></label>
    <textarea #inputElement class="form-control" [ngClass]="[
        resize ? 'resize' : '',
        textareaClass ? textareaClass : '', 
        isValid == 'Success' ? 'is-valid' : isValid == 'Error' ? 'is-invalid' : '',
        isLoading ? 'is-loading' : '']" [placeholder]="placeholder" [attr.rows]="rows" [(ngModel)]="value"
        (blur)="emitFocusEvent()" (change)="emitChangeEvent($event)"></textarea>
    <div class="form-text text-muted" *ngIf="description" [innerHtml]="description"></div>
    <div [ngClass]="{'valid-tooltip': isValid == 'Success','invalid-tooltip':isValid == 'Error'}"
        *ngIf="validateMessage" [innerHtml]="validateMessage"></div>
</div>