<div class="row">
    <div class="col-12 col-md-6">
        <p class="text-muted mb-4">Kullanıcı deneyimi ilk taslaktan nihai ürüne kadar tasarım sürecinin ayrılmaz bir
            parçasıdır.
            Kullanıcı deneyimi, kendi başına bir sanattır. Uygulamamızın nasıl algılanacağını kesinlikle
            tahmin edemezsiniz
        </p>
    </div>
    <div class="col-12 col-md-6">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-6">
                        <div>Toplam Kullanıcı Sayısı</div><strong class="fs-20 text-success">{{0}}</strong>
                    </div>
                    <div class="col-6">
                        <div>Toplam Aktif Kullanıcı Program Sayısı</div><strong
                            class="fs-20 text-success">{{0}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<o-ng-paginated-view [pageInfo]="pageInfo" (pageInfoChanged)="onPageInfoChanged($event)">
    <div class="card mb-0">
        <div class="card-body">
            <div style="position: absolute; top: -40px;right: 0;">
                <button class="btn btn-secondary btn-sm btn-square rounded-pill" title="Yenile" (click)="getUsers()">
                    <span class="btn-icon icofont-refresh">
                    </span>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" cardLoader>
                    <thead>
                        <tr>
                            <th scope="col">Ad Soyad</th>
                            <th scope="col">Email</th>
                            <th scope="col">Son Giriş</th>
                            <th scope="col">Role</th>
                            <th scope="col">Durum</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users">
                            <td>
                                <div class="text-nowrap">
                                    <strong>{{item.UserProfile.Name}} {{item.UserProfile.Surname}}</strong>
                                </div>
                            </td>
                            <td>
                                <div class="text-nowrap"><strong>{{item.User.Email}}</strong></div>
                            </td>
                            <td>
                                <div class="text-nowrap"><strong>{{item.User.LastLogin | date: 'dd/MM/yyyy'}}</strong>
                                </div>
                            </td>
                            <td>
                                <div class="text-nowrap"><strong>{{join(item.Roles)}}</strong></div>
                            </td>
                            <td>
                                <div class="text-nowrap "
                                    [ngClass]="{'text-success': item.User.IsActive,'text-danger': !item.User.IsActive}">
                                    <i class="icofont-check-circled me-1"
                                        [ngClass]="{'icofont-check-circled': item.User.IsActive,'icofont-close-circled' : !item.User.IsActive}"></i>
                                    <span>{{item.User.IsActive ? 'Aktif' : 'Pasif'}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="actions">
                                    <button class="btn btn-warning btn-sm btn-square rounded-pill" title="Güncelle"
                                        (click)="showUpdateUserInfoModal(item)">
                                        <span class="btn-icon icofont-ui-edit">
                                        </span>
                                    </button>
                                    <button class="btn btn-info btn-sm btn-square rounded-pill"
                                        (click)="toggleUserStatus(item.User.Id)"
                                        title="Kategori aktiflik durumunu değiştir">
                                        <span class="btn-icon icofont-exchange"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</o-ng-paginated-view>

<div class="add-action-box animate__animated animate__bounce">
    <button class="btn btn-primary btn-lg btn-square rounded-pill" title="Kullanıcı Ekle"
        (click)="showUpdateUserInfoModal()">
        <span class="btn-icon icofont-plus"></span>
    </button>
</div>

<o-update-user-modal *ngIf="showStatusUpdateUserInfoModal" [userInfo]="forEditUserInfo"
    (userInfoChange)="onUserInfoUpdated($event)" [(show)]="showStatusUpdateUserInfoModal">
</o-update-user-modal>