<!-- Add Department Modal -->
<div #modal class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow:scroll;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" cardLoader>
            <div class="modal-header">
                <h5 class="modal-title">Kategori Ekle</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <o-ng-file-input #fileElement header="Banner" [allowedFileTypes]="['image']"
                        [(ngModel)]="editModel.Image" [validate]="validate.file" [cropperActive]="true"
                        [maxFileSize]="5*1024" [cropperWidth]="350" [cropperHeight]="350">
                    </o-ng-file-input>
                </div>
                <div class="form-group">
                    <o-ng-input #nameElement type="text" header="Kategori Adı" placeholder="Ad"
                        suffixIcon="icofont-pencil-alt-5" [(ngModel)]="editModel.Name" [validate]="validate.text">
                    </o-ng-input>
                </div>
                <div class="form-group">
                    <o-ng-textarea #descriptionElement header="Açıklama" placeholder="Açıklama" [rows]="3"
                        [resize]="true" [(ngModel)]="editModel.Description" [validate]="validate.text">
                    </o-ng-textarea>
                </div>
            </div>

            <div class="modal-footer d-block">
                <div class="mb-2" *ngIf="progressOption.show">
                    <progressbar class="progress" [value]="progressOption.value" [max]="progressOption.max"
                        [animate]="progressOption.animate" [striped]="progressOption.animate">
                        {{progressOption.value}}%</progressbar>
                </div>
                <div class="actions justify-content-between">
                    <button class="btn btn-outline-danger" (click)="hideModal()">
                        <span class="btn-icon icofont-close-circled mr-2"></span>
                        Kapat
                    </button>
                    <button class="btn btn-outline-info">
                        <span class="btn-icon icofont-presentation-alt mr-2"></span>
                        Önizle
                    </button>
                    <button class="btn btn-outline-success" (click)="save()">
                        <span class="btn-icon icofont-save mr-2"></span>
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Department Modal -->